@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    --color-lime: hsl(61, 70%, 52%);
    --color-red: hsl(4, 69%, 50%);
    --font-main: "Plus Jakarta Sans", sans-serif;
    --text-normal: 12px;
    --color-slate1: hsl(202, 86%, 94%);
    --color-slate2: hsl(203, 41%, 72%);
    --color-slate3: hsl(200, 26%, 54%);
    --color-slate4: hsl(200, 24%, 40%);
    --color-slate5: hsl(202, 55%, 16%);
    --color-slate6: hsl(202, 55%, 10%);

}

* {
    font-family: "Plus Jakarta Sans", sans-serif;
}